# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/WIP/*/p1
/WIP/*/p2
/WIP/*/p3
/WIP/*/p4
/WIP/*/p5
/WIP/*/p6
/WIP/*/p7
/WIP/*/p8
/WIP/*/p9
/WIP/*/p10
./*/p1
./*/p2
./*/p3
./*/p4
./*/p5
./*/p6
./*/p7
./*/p8
./*/p9
./*/p10/log.txt
/log.txt
/3_Memory/p1
/3_Memory/p2
/3_Memory/p3
/4_SmartPtrs/p1
/4_SmartPtrs/p2
/4_SmartPtrs/p3
/5_Entities/log.txt
/5_Entities/p3
/5_Entities/TODO
/5_Entities/p5
/5_Entities/p6
/5_Entities/p7
/5_Entities/p9
/5_Entities/p8
/Handles/transcript.txt
/DiveIntoC++14/2_ForArgs/p5
/DiveIntoC++14/2_ForArgs/p6
/DiveIntoC++14/2_ForArgs/p1
/DiveIntoC++14/2_ForArgs/p2
/DiveIntoC++14/2_ForArgs/p3
/DiveIntoC++14/2_ForArgs/p4
