# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/WIP/*/p1
/WIP/*/p2
/WIP/*/p3
/WIP/*/p4
/WIP/*/p5
/WIP/*/p6
/WIP/*/p7
/WIP/*/p8
/WIP/*/p9
/WIP/*/p10